.primary-overlay {
    background: rgba(65, 57, 77, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main-header {
    background: url('../img/showcase.jpg') center center/cover;
    height: 100vh;
    min-height: 600px;
    color: #fff;
    position: relative;
}